

<%= form_for(@reminder) do |r| %>
	<h2><%= @reminder.title %></h2>
<div class="well">

	<p>
	<%= r.label :description, "Description: " %>
	<%= r.text_area :description%>
	</p>
	
	<p>
	<%= r.label :due_date, "Deadline: " %>
	<%= r.text_field :due_date %>
	</p>

	<p>
		<%= r.label :priority, "Choose the priority" %>
		<p><%= r.select :priority, [["Low",1], ["Medium", 2], ["High", 3]] %></p>
	</p>

	<p>
		<%= r.label :finished, "Finished this task already?" %>
		<p><%= r.check_box :finished %></p>
	</p>
	<p>	
		<%= r.submit %>
	</p>
	<p>
		<%= link_to "Back to all", reminders_path%> |
		<%= link_to "Delete", reminder_path(r), :confirm => "Are you sure?", :method => :delete %></p>	
	</p>
<% end %>
</div>